@import url("https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");

body {
  font-family: "Roboto", sans-serif;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

.spacing {
  display: block;
  height: 20px;

  &-lg {
    height: 30px;
  }

  &-sm {
    height: 3.5px;
  }

  &-md {
    height: 13px;
  }
}
