footer {
  background-color: #1c3a59;

  .footer-intro {
    .fa-comment-dots {
      border: 2px solid $font-color-secondary;
      padding: 10px;
      border-radius: 50%;
      color: $font-color-secondary;
    }

    span {
      text-transform: uppercase;
      color: $font-color-secondary;
      padding-left: 20px;
      font-weight: bold;
      font-size: 20px;
    }

    p {
      color: $font-color-secondary;
      font-size: 13px;
      padding-left: 62px;
      margin: 0px;
    }
  }

  .block-form {
    margin-top: 40px;

    @media (min-width: 1200px) {
      padding: 0 80px;
    }

    .uk-input,
    .uk-select,
    .uk-textarea {
      background: transparent;
    }

    .nao-aparece {
      display: none;
    }

    #form-erro span,
    #form-send span {
      font-size: 2em;
      line-height: 25px;
      margin-bottom: 10px;
      display: block;
    }

    #form-send {
      color: #31aa39;
      text-align: center;
      width: 100%;
    }

    #form-erro {
      color: #f64540;
      text-align: center;
      width: 100%;
    }

    ::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $font-color-secondary;
      opacity: 1; /* Firefox */
      font-weight: 100;
    }

    :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: $font-color-secondary;
      font-weight: 100;
    }

    ::-ms-input-placeholder {
      /* Microsoft Edge */
      color: $font-color-secondary;
      font-weight: 100;
    }

    .uk-button-default {
      color: $font-color-secondary;
    }
  }

  .icons-contact {
    margin-top: 50px;

    .fa-phone,
    .fa-envelope,
    .fa-map-marker-alt {
      color: $font-color-secondary;
      border: 2px solid $font-color-secondary;
      padding: 10px;
      border-radius: 50%;
    }

    a {
      margin-left: 10px;
      color: $font-color-secondary;
      font-size: 15px;
    }

    table {
      td {
        a {
          margin-left: 10px;
          color: $font-color-secondary;
          font-size: 15px;
        }

        p {
          color: $font-color-secondary;
          font-size: 15px;
          margin: 0 10px;
        }
      }
    }
  }
}

.copyright {
  background: #1c3a59;

  h6 {
    color: #fff;
  }
}
