.uk-navbar {
  background: $third-color;
  font-weight: 500;

  .uk-navbar-nav > li > a,
  .uk-navbar-item,
  .uk-navbar-toggle {
    font-family: "Roboto", sans-serif;
    color: $font-color-primary;
  }

  @media (min-width: 1200px) {
    padding: 0px 145px;
  }

  .uk-navbar-toggle {
    color: #1c3a59;
    font-size: 18px;
  }

  .fa-whatsapp {
    color: #25d366;
    font-size: 27px;
  }
}

.uk-navbar-container:not(.uk-navbar-transparent) {
  background: #f0f0f0;
}

.uk-offcanvas-bar {
  background: #1c3a59;
}

.uk-nav-primary > li > a {
  font-size: 20px;
  color: #fff!important;
  font-family: 'Roboto Condensed', sans-serif;
}
