#produtos {
  .block-title {
    margin-top: 50px;

    h2 {
      font-weight: 100;
      color: $third-color;
      text-transform: uppercase;
    }
  }

  .intro-text {
    p {
      color: $third-color;
      font-size: 23px;
      padding-bottom: 50px;

      @media (min-width: 1200px) {
        padding-right: 68%;
      }
    }
  }

  .banner-area {
    background-image: url(../../assets/images/banner-produtos.png);
    background-size: cover;
    background-position: center;

    @media (max-width: 700px) {
      background-image: url(../../assets/images/b1.png);
      background-size: cover;
      background-position: center;
      height: 200px;
      padding: 0px;
    }
  }

  .block-darkblue {
    background: #1c3a59;
    padding: 10px 30px;
  }

  .uk-table {
    tbody,
    tr {
      border: 1px solid #acadaf;
    }

    td {
      @media (min-width: 1200px) {
        padding-left: 50px;
        font-size: 20px;
      }
    }

    .fa-circle {
      color: #acadaf;
      font-size: 10px;

      @media (min-width: 1200px) {
        margin-right: 20px;
      }
    }
  }

  .uk-accordion {
    border: 1px solid #acadaf;

    .uk-open > .uk-accordion-title::before {
      background-image: url(../../assets/images/chevron-up-solid.svg);
    }

    .uk-accordion-title::before {
      background-image: url(../../assets/images/chevron-down-solid.svg);
      background-color: #acadaf;
      border-radius: 50%;
      width: 2.4em;
      height: 2.4em;

      @media (min-width: 1200px) {
        margin-top: 50px;
        margin-right: 30px;
      }

      @media (max-width: 900px) {
        margin-top: 5px;
        margin-right: 10px;
      }
    }

    @media (max-width: 700px) {
      .uk-grid > * {
        padding-left: 0px;
      }
    }

    @media (min-width: 1200px) {
      .divider {
        border-right: 1px solid #acadaf;
        max-height: 80px;
        margin-top: 24px;
        padding-left: 80px;
      }
    }

    .uk-list {
      font-size: 20px;
    }

    .harris {
      margin-left: 31px;
    }

    .uk-list > li:nth-child(n + 2),
    .uk-list > li > ul {
      margin-top: 0px !important;
    }

    .flex {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .uk-accordion-content {
      background: #f0f0f0;
      margin-top: 0px !important;

      .download-pdf {
        .uk-table td {
          font-size: 15px;
          border-bottom: 1px solid #cecece;
          padding: 16px 12px;
        }

        .uk-table th {
          text-align: center;
          border-bottom: 1px solid #cecece;
        }

        .uk-table tbody,
        .uk-table tr {
          border: none !important;
        }

        .fa-file-pdf {
          font-size: 30px;
          color: #1c3a59;
        }

        .fa-file-download {
          font-size: 30px;
          color: #1c3a59;
        }
      }
    }
  }

  .products-sbr {
    p {
      font-size: $font-medium;
      text-transform: uppercase;

      @media (max-width: 700px) {
        font-size: 20px;
      }
    }
  }

  .block-orange {
    background: $secondary-color;
    padding: 20px;

    @media (min-width: 1200px) {
      padding: 64px 122px;
      margin-bottom: 30px;
    }

    p {
      color: #fff;
      margin: 0px;
      font-size: 25px;

      @media (max-width: 900px) {
        font-size: 20.9px;
        font-weight: bold;
      }
    }
  }
}
