#quem-somos {
  @media (min-width: 1200px) {
    margin-top: 70px;
  }

  .block-title {
    h3 {
      font-weight: bold;
      text-transform: uppercase;
      color: $secondary-color;
    }
  }

  .block-text {
    color: $text-primary-color;

    @media (min-width: 1200px) {
      width: 80%;
    }
  }

  .block-topic {
    .uk-list > li:nth-child(n + 2),
    .uk-list > li > ul {
      margin-top: 0px;
    }

    .uk-list {
      color: $text-primary-color;
      font-size: 17px;
    }

    a {
      margin-left: 7px;
      color: $text-primary-color;
    }
  }

  .block-certified {
    margin-top: 50px;

    .block-orange {
      background: $secondary-color;
      padding: 20px;

      @media (min-width: 1200px) {
        padding: 64px 97px;
      }

      p {
        color: #fff;
        margin: 0px;
        font-size: 25px;

        @media (max-width: 900px) {
          font-size: 20.9px;
          font-weight: bold;
        }
      }
    }
  }

  .intro-carousel {
    h3 {
      margin-top: 40px;
      color: #585858;

      @media (max-width: 700px) {
        margin-top: 8px;
      }
    }
  }
}
