#servicos {
  .banner-area-services {
    background-image: url(../../assets/images/banner-servicos.png);
    background-size: cover;
    background-position: center;

    @media (max-width: 700px) {
      background-image: url(../../assets/images/b2.png);
      background-size: cover;
      background-position: center;
      height: 200px;
      padding: 0px;
    }
  }

  .block-title {
    margin-top: 70px;

    h2 {
      font-weight: 100;
      color: $third-color;
      text-transform: uppercase;
    }
  }

  .intro-text {
    p {
      color: $third-color;
      font-size: 23px;
      padding-bottom: 50px;

      @media (min-width: 1200px) {
        padding-right: 68%;
      }
    }
  }

  .block-darkblue {
    background: #1c3a59;
    padding: 10px 30px;
  }

  .intro-services {
    .uk-table {
      tbody,
      tr {
        border: 1px solid #acadaf;
      }

      td {
        @media (min-width: 1200px) {
          padding-left: 50px;
          font-size: 20px;
        }
      }

      .fa-circle {
        color: #acadaf;
        font-size: 10px;

        @media (min-width: 1200px) {
          margin-right: 20px;
        }
      }
    }
  }

  .table-ligas {
    margin-top: 50px;

    @media (min-width: 1200px) {
      padding: 0 130px;
    }

    table {
      th {
        color: $secondary-color;
        font-size: 20px;
        text-align: center;
      }

      td {
        font-size: 20px !important;

        @media (max-width: 700px) {
          font-size: 17px !important;
        }

        .fa-circle {
          color: #acadaf !important;
          font-size: 10px !important;
        }
      }
    }
  }

  .block-card {
    margin-top: 50px;
    h3 {
      color: #585858;
    }

    .block-orange {
      background: $secondary-color;
      padding: 10px;

      @media (min-width: 1200px) {
        padding: 45px 122px;
        margin-bottom: 30px;
      }

      p {
        color: #fff;

        margin: 0px;
        font-size: 25px;

        @media (max-width: 900px) {
          font-size: 18.2px;
          font-weight: bold;
        }
      }
    }
  }
}
