#slider-intro {
  .block-caption {
    width: 602px;
    height: 240px;
    background: $secondary-color;
    margin-left: 150px;

    h4 {
      color: $third-color;
      font-weight: bold;
      font-size: 32px;
    }
  }

  .uk-dotnav > .uk-active > * {
    background-color: #ff8a00 !important;
  }

  .uk-dotnav > * > :hover {
    background-color: #1c3a59;
  }
}

.slider-area {
  margin-top: 40px;
  margin-bottom: 40px;

  .icon-area {
    h3 {
      color: #585858;
    }

    p {
      color: #585858;
      font-size: 14px;
    }
  }
}

#carousel-mobile {
  .uk-card-body {
    background: #ff8a00;

    p {
      font-size: 20px;
      color: #fff;
      font-weight: bold;
    }
  }
}
