.sidebar-social {
  position: fixed;
  width: 45px;
  top: 0;
  right: 0;
  bottom: 20px;
  top: 40%;
  display: table;
  z-index: 2;
  background-color: #1c3a59;

  ul {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;

    > li {
      margin: 10px 0;
    }
  }

  a {
    color: #1c3a59;
    font-size: 20px;
    background-color: #fff;
    border-radius: 100%;
  }

  .fb {
    padding: 4px 10px;
  }

  .linkedin {
    padding: 5px 8px;
  }

  .email {
    padding: 4px 7px;
  }

  .whatsapp {
    padding: 4px 7px;
    font-weight: bold;
  }

  @media (max-width: $breakpoint-ipad) {
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    z-index: 1000200;

    a {
      position: relative;
      margin: 0;
      outline-offset: -1px;
      text-align: center;
      float: left;
      transition: width 0.15s ease-in-out;
      overflow: hidden;
      z-index: 100030;
      cursor: pointer;
      border-radius: 0px;
      width: 25%;
      color: #fff;
      background: none;
    }

    .fb,
    .linkedin,
    .whatsapp,
    .email {
      padding: 0px;
    }
  }
}
