@charset "UTF-8";

// 1. Váriveis Customizadas

/* Cores */
$primary-color: #1c3a59;
$secondary-color: #ff8a00;
$third-color: #fff;

/* Cor de Fonte */
$font-color-primary: #333333;
$font-color-secondary: #fff;
$text-primary-color: #585858;

/* Backgrounds */
$bg-primary: #ffffff;

/* Font Size */
$font-small: 14px;
$font-medium: 25px;
$font-large: 30px;

/* Breakpoint */
$breakpoint-ipad: 1024px;
$breakpoint-desktop: 1200px;
$breakpoint-mobile: 500px;

/* Fonts */
$font-primary: "Roboto", sans-serif;

// 2. Import Padrão de Váriaveis.
@import "../node_modules/uikit/src/scss/variables-theme.scss";
@import "../node_modules/uikit/src/scss/mixins-theme.scss";

// 3. Mixins Customizados.
@mixin hook-card() {
  color: #000;
}

// 4. Import da Framework.
@import "../node_modules/uikit/src/scss/uikit.scss";
@import "base";
@import "header";
@import "slider";
@import "quem-somos";
@import "produtos";
@import "servicos";
@import "footer";
@import "social";
@import "effects";


